extends layout
block content
	h1= title
	h2= post.title
	p Are you sure you want to delete this post ?
	form(method='POST')
		.form-group
			input#post-id(type='hidden' name='id' value=post._id required)
			button.btn.btn-danger(type='submit') Delete

	if errors
		hr
		ul
			for error in errors
				li= error.msg
	
	p.container.mx-6.p-4.border.border-success.rounded-4= post.content