extends layout

block content
	h1= post.title
	
	h4= post.content
	
	if isAuthor
		h2 By #{post.user.fullname}
		a(href=post.user.url) Author profile
	
	if isOwner
		hr
		p
			a(href=post.url+'/update') Update Post
		p
			a(href=post.url+'/delete') Delete Post
